services:
  nginx:
    build: ./nginx

    ports:
      - 8080:8080

    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - web_static:/app/web

    depends_on:
      - web

    restart: "on-failure"

  web:
    image: peermetrics/web:latest

    command: "gunicorn web.wsgi:application --bind 0.0.0.0:8080 --log-level info"

    volumes:
      - web_static:/app/static

    expose:
      - 8080

    environment:
      DEBUG: "False"

      DJANGO_SETTINGS_MODULE: "web.settings"
      SECRET_KEY: "secret"

      # Default admin password (used to detect default password on login)
      # CHANGE THIS IN PRODUCTION!
      DEFAULT_ADMIN_PASSWORD: "admin"

      # where the API enpoint is located
      API_ROOT: "http://localhost:8081/v1"

      # DB config
      DATABASE_HOST: "postgres"
      DATABASE_PORT: "5432"
      DATABASE_USER: "peeruser"
      DATABASE_PASSWORD: "peeruser"
      DATABASE_NAME: "peerdb"
      CONN_MAX_AGE: "14400"

    restart: "on-failure"

volumes:
  web_static:
