apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: peermetrics

resources:
  - ../../base

generatorOptions:
  disableNameSuffixHash: true

images:
  - name: peermetrics/api
    newTag: latest
  - name: peermetrics/web
    newName: 742723786721.dkr.ecr.us-east-1.amazonaws.com/peermetrics-web-dev
    newTag: prefix-aware-v3
  - name: ghcr.io/your-org/peermetrics-postgres
    newName: 742723786721.dkr.ecr.us-east-1.amazonaws.com/peermetrics-postgres-dev
    newTag: 12.8-pgtrgm

configMapGenerator:
  - name: peermetrics-api-config
    literals:
      - DEBUG=False
      - DJANGO_SETTINGS_MODULE=api.settings
      - WEB_DOMAIN=dev.pqcast.com
      - POST_CONFERENCE_CLEANUP=True
      - CONN_MAX_AGE=14400
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_NAME=peerdb
      - REDIS_HOST=redis://redis:6379
      - DEFAULT_ADMIN_USERNAME=admin
      - DEFAULT_ADMIN_EMAIL=admin@admin.com
  - name: peermetrics-web-config
    literals:
      - DEBUG=False
      - DJANGO_SETTINGS_MODULE=web.settings
      - URL_PREFIX=/peermetrics
      - API_ROOT=https://dev.pqcast.com/peermetrics/api/v1
      - CONN_MAX_AGE=14400
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_NAME=peerdb

secretGenerator:
  - name: peermetrics-secrets
    envs:
      - secrets.env

patches:
  - target:
      kind: Ingress
      name: peermetrics-ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: dev.pqcast.com
